<div class="component-container">

  <h2>Angular $attr.$observe </h2>
    <div ng-controller="observeAttributesController as observer">
      <span class="panel">Counter: {{observer.count}}</span>
      <button href="" ng-click="observer.increment()">Increment Counter</button>
      <button href="" ng-click="observer.decrement()">Decrement Counter</button>
      <div>
        <button><a href="" ng-click="update()">Update Name</a></button>
      </div>
      {{observer.name}}
    </div>
</div>


